<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" / / />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" / / />
    <!-- CDNからhtmx.min.jsを読み込む -->
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <title>HTMX Example</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header
      id="header"
      hx-get="./layouts/header.html"
      hx-target="#header"
      hx-trigger="load"
      hx-swap="outsideHTML"
    ></header>
    <main>
      <div class="selectPage">
        <h2>新規申し込み</h2>
        <form action="iput.php" method="post">
          <div class="selectInner">
            <section class="section">
              <h3>コースの選択</h3>
              <ul>
                <li>
                  <label class="radioLabel" for="type1">
                    <input id="type1" type="radio" name="type" value="Type-A-" />A
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="type2">
                    <input id="type2" type="radio" name="type" value="Type-B-" />B
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="type3">
                    <input id="type3" type="radio" name="type" value="Type-C-" />C
                  </label>
                </li>
              </ul>
            </section>
            <section id="productTypeA">
              <h3>製品選択</h3>
              <ul>
                <li>
                  <label class="radioLabel" for="productA-1">
                    <input
                      id="productA-1"
                      type="radio"
                      name="productA"
                      value="PRODUCT1"
                    />Product-1
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="productA-2">
                    <input
                      id="productA-2"
                      type="radio"
                      name="productA"
                      value="PRODUCT2"
                    />Product-2
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="productA-3">
                    <input
                      id="productA-3"
                      type="radio"
                      name="productA"
                      value="PRODUCT3"
                    />Product-3
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="productA-4">
                    <input
                      id="productA-4"
                      type="radio"
                      name="productA"
                      value="PRODUCT4"
                    />Product-4
                  </label>
                </li>
              </ul>
            </section>
            <section>
              <h3>付属品</h3>
              <ul>
                <li>
                  <label class="radioLabel" for="accessory1">
                    <input
                      id="accessory1"
                      type="radio"
                      name="accessory[]"
                      value="ACCESSORY1"
                    />Accessory-1
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="accessory2">
                    <input
                      id="accessory2"
                      type="radio"
                      name="accessory[]"
                      value="ACCESSORY2"
                    />Accessory-2
                  </label>
                </li>
            </section>
            <section>
              <h3>プラン</h3>
              <ul>
                <li>
                  <label class="radioLabel" for="plan1">
                    <input id="plan1" type="radio" name="plan" value="PLAN1" />Plan-1
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="plan2">
                    <input id="plan2" type="radio" name="plan" value="PLAN2" />Plan-2
                  </label>
                </li>
                <li>
                  <label class="radioLabel" for="plan3">
                    <input id="plan3" type="radio" name="plan" value="PLAN3" />Plan-3
                  </label>
                </li>
              </ul>
            </section>
          </div>

          <input class="submitButton" type="submit" value="次へ"></input>
        </form>
      </div>
    </main>
    <footer
      id="footer"
      hx-get="./layouts/footer.html"
      hx-trigger="revealed"
      hx-target="#footer"
      hx-swap="outsideHTML"
    ></footer>
  </body>
</html>
